<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="Images/bridgestone-64.png">
    <link rel="shortcut icon" href="Images/bridgestone.ico">
    <title>Bladder Change Info - Curing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    
</head>
<body>
    <div id="container">

        <div id="header">
            <div id="logo"><img src="~/Images/bridgestone-70_01.png" alt="BS logo" /></div>
            <div id="system-name">Curing - Bladder Change Info</div>
            <div id="count-down-container" class="text-info label label-success">Update in <span id="count-down">00:00</span></div>
        </div>

        <div id="content">
            
            @RenderBody()
            
            <div id="footer">
                <div class="container" style="text-align:center;">
                    <p class="muted credit">&copy; @DateTime.Now.Year - BTMV</p>
                </div>
            </div>

        </div>

        
    </div>
</body>
</html>
